<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Стасиська Компании</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <style>
        .center {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-image: url("{% static 'images/Nature_Beach_Houses_on_the_sea_shore_016598_.jpg' %}");
            background-size: cover;
            background-position: center;
        }
    </style>
</head>
<body>
    <div class="center">
        <h1>Стасиська Компании</h1>
        <table>
            <tr>
                <th>Имя Компании</th>
                <th>Безымянная компани</th>
            </tr>
            {% for stat in campaign_statistics %}
                <tr>
                    <td>{{ stat.campaign.name }}</td>
                    <td>{{ stat.visits_count }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>
